h1 {
    color: red;
    margin: 0 15px;
}

.classeBonita {
    margin: 0 15px;
    font-size: 1.5em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.teste {
    display: flex;
    justify-content: space-between;
}

/* 2 - Sintaxe, apenas para telas, breakpoint */
@media screen and (max-width: 670px) {
    h1 {
        color: blue;
    }

    .teste {
        display: block;
    }

    .oCowboyVaiTePegar {
        display: none;
    }

    .classeBonita {
        margin: 10px 0;
    }
}

@media print and (max-width: 600px) {
    h1 {
        color: green;
    }
}

@media (max-width: 700px) {
    h2 {
        color: purple;
    }
}

@media (min-width: 200px) {
    h1 {
        font-size: 50px;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    h3 {
        font-size: 3em;
    }
}



/*celular na horizontal*/
@media (orientation: landscape) {
    h3 {
        color: brown;
    }
}

@media (max-width: 200px), (orientation: landscape) {
    h3 {
        font-size: 4em;
    }
}





/* intankavel a ordem do codigo importar no css */
h4 {
    color: blue;
}

@media (min-width: 600px) {
    h4 {
        color: red;
    }
}

/* põem as media query sempre no final */







/* 320px - 480px = mobile */
/* Em mobile first não precisa de MQ */
h5 {
    color: aqua;
}

/* 480px - 768px = tablet */
@media (min-width: 480px) {
    h5 {
        color: burlywood;
    }
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
    h5 {
        color: cadetblue;
    }
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
    h5 {
        color: coral;
    }
}

/* 1200 e + = telas maiores, tvs */
@media (min-width: 1200px) {
    h5 {
        color: darkorchid;
    }
}